{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/scripted/itsb_pokedex/header.png",
      "fileBody" : "/interface/scripted/itsb_pokedex/body.png",
      "fileFooter" : "/interface/scripted/itsb_pokedex/footer.png"
    },
    "collectionTabs" : {
      "type" : "radioGroup",
      "callback" : "selectCollection",
      "zlevel" : 2,
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : false,
          "position" : [11, 180],
          "baseImage" : "/interface/scripted/itsb_pokedex/tab_pokemon_deselect.png",
          "baseImageChecked" : "/interface/scripted/itsb_pokedex/tab_pokemon_select.png",
          "pressedOffset" : [0, 0],
          "data" : "itsbowman_pokedex"
        },
        {
          "selected" : false,
          "position" : [11, 154],
          "baseImage" : "/interface/scripted/itsb_pokedex/tab_pokemon_deselect.png",
          "baseImageChecked" : "/interface/scripted/itsb_pokedex/tab_pokemon_select.png",
          "pressedOffset" : [0, 0],
          "data" : "itsbowman_shpokedex"
        },
        {
          "selected" : false,
          "position" : [11, 128],
          "baseImage" : "/interface/scripted/itsb_pokedex/tab_pokeball_deselect.png",
          "baseImageChecked" : "/interface/scripted/itsb_pokedex/tab_pokeball_select.png",
          "pressedOffset" : [0, 0],
          "data" : "itsbowman_pokeball"
        }
      ]
    },
    "selectLabel" : {
      "type" : "label",
      "position" : [138, 208],
      "hAnchor" : "mid",
      "value" : "Collection"
    },
    "emptyLabel" : {
      "type" : "label",
      "position" : [138, 192],
      "hAnchor" : "mid",
      "color" : "gray",
      "value" : "Select a collection to the left"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [245, 227]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Pokedex",
      "subtitle" : "Gotta catch em' all!",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/scripted/itsb_pokedex/icon.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "scrollBG" : {
      "type" : "image",
      "file" : "/interface/scripted/itsb_pokedex/scroll_bg.png",
      "position" : [36, 25],
      "zlevel" : -5
    },
    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [45, 35, 263, 205],
      "children" : {
        "collectionList" : {
          "type" : "list",
          "callback" : "null",
          "position" : [1, 217],
          "columns" : 5,
          "fillDown" : true,
          "scissoring" : false,
          "schema" : {
            "selectedBG" : "/interface/scripted/itsb_pokedex/collect_bg.png",
            "unselectedBG" : "/interface/scripted/itsb_pokedex/collect_bg.png",
            "spacing" : [10, 10],
            "memberSize" : [32, 32],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/scripted/itsb_pokedex/collect_bg.png",
                "position" : [0, 0],
                "zlevel" : -10
              },
              "icon" : {
                "type" : "image",
                "file" : "",
                "position" : [16, 16],
                "size" : [22, 22],
                "centered" : true,
                "zlevel" : 0
              },
              "border" : {
                "type" : "image",
                "file" : "/interface/scripted/itsb_pokedex/collect_fg.png",
                "position" : [0, 0],
                "zlevel" : 10
              },
              "index" : {
                "type" : "label",
                "position" : [8, 2],
                "zlevel" : 20,
                "hAnchor" : "mid",
                "color" : "white",
                "value" : ""
              }
            }
          }
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [
    "selectCollection"
  ],

  "tooltipLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/tooltips/pokemonbody.png",
      "fileFooter" : ""
    },
    "title" : {
      "type" : "label",
      "position" : [11, 54],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220,
      "fontSize" : 12
    },
    "description" : {
      "type" : "label",
      "position" : [11, 38],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 220
    }
  },

  "scripts" : [ "/interface/scripted/itsb_pokedex/itsb_pokedexgui.lua" ],
  "scriptDelta" : 30,

  "iconSize" : [22, 22]
}
