{
  "sellContainerSize" : 56, // needs to match the size of the itemgrid defined in this window
  "buyBody" : "/interface/buildings/buybody.png",
  "sellBody" : "/interface/buildings/sellbody.png",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/buildings/merchantheader.png",
      "fileBody" : "/interface/buildings/buybody.png",
      "fileFooter" : "/interface/buildings/merchantfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [165, 246]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "  ^#555555;Poke Mart",
      "subtitle" : "  ^#555555;Buy and sell your goods here!",
      "position" : [-5, 252]
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/buildings/shine.png",
      "position" : [4, -16],
      "zlevel" : 1,
      "mouseTransparent" : true
    },

    "buySellTabs" : {
      "type" : "tabSet",
      "tabButtonBaseImage" : "/interface/tabs/tabbase.png",
      "tabButtonHoverImage" : "/interface/tabs/tabover.png",
      "tabButtonBaseImageSelected" : "/interface/tabs/tabselected.png",
      "tabButtonHoverImageSelected" : "/interface/tabs/tabselectedover.png",
      "tabButtonPressedOffset" : [0, 0],
      "tabButtonTextOffset" : [0, -1],
      "tabButtonSpacing" : [-1, 0],
      "rect" : [6, 4, 177, 237],
      "tabs" : [
        {
          "tabName" : "buy",
          "tabTitle" : "Buy",
          "children" : {
            "spinCount" : {
              "type" : "spinner",
              "position" : [12, 50],
              "upOffset" : 44
            },
            "tbCount" : {
              "callback" : "parseCountText",
              "blur" : "countChanged",
              "type" : "textbox",
              "position" : [26, 50],
              "textAlign" : "center",
              "maxWidth" : 18,
              "regex" : "x?\\d{0,4}"
            },
            "imgCountBg" : {
              "type" : "image",
              "file" : "/interface/buildings/amount.png",
              "position" : [22, 49],
              "zlevel" : -3
            },
            "lblBuyTotalCaption" : {
              "type" : "label",
              "fontSize" : 8,
              "position" : [114, 50],
              "value" : "TOTAL COST",
              "hAnchor" : "right"
            },
            "imgBuyMoneyIcon" : {
              "type" : "image",
              "file" : "/interface/buildings/pixels.png",
              "position" : [116, 52],
              "zlevel" : -3
            },
            "lblBuyTotal" : {
              "type" : "label",
              "fontSize" : 8,
              "position" : [128, 50],
              "value" : "999999"
            },
            "btnBuy" : {
              "callback" : "buy",
              "type" : "button",
              "base" : "/interface/buildings/button.png",
              "hover" : "/interface/buildings/buttonhover.png",
              "position" : [62, 30],
              "caption" : "Buy"
            },
            "scrollArea" : {
              "type" : "scrollArea",
              "rect" : [5, 62, 171, 216],
              "children" : {
                "itemList" : {
                  "type" : "list",
                  "schema" : {
                    "selectedBG" : "/interface/buildings/itemselected.png",
                    "unselectedBG" : "/interface/buildings/itembackground.png",
                    "spacing" : [0, 1],
                    "memberSize" : [156, 24],
                    "listTemplate" : {
                      "background" : {
                        "type" : "image",
                        "file" : "/interface/buildings/itembackground.png",
                        "position" : [0, 0],
                        "zlevel" : -1
                      },
                      "itemName" : {
                        "type" : "label",
                        "position" : [26, 13],
                        "hAnchor" : "left",
                        "vAnchor" : "top",
                        "wrapWidth" : 116,
                        "lineSpacing" : 1.05,
                        "value" : "Replace Me"
                      },
                      "itemIcon" : {
                        "type" : "itemslot",
                        "position" : [1, 1],
                        "callback" : "null"
                      },
                      "moneyIcon" : {
                        "type" : "image",
                        "position" : [112, 1],
                        "file" : "/interface/money.png"
                      },
                      "priceLabel" : {
                        "type" : "label",
                        "position" : [152, 0],
                        "hAnchor" : "right",
                        "value" : "0"
                      },
                      "unavailableoverlay" : {
                        "type" : "image",
                        "file" : "/interface/buildings/unavailableoverlay.png",
                        "position" : [0, 0],
                        "zlevel" : 1
                      }
                    }
                  }
                }
              }
            }
          }
        },
        {
          "tabName" : "sell",
          "tabTitle" : "Sell",
          "children" : {
            "itemGrid" : {
              "rightClickCallback" : "null",
              "type" : "itemgrid",
              "position" : [10, 73],
              "dimensions" : [8, 7],
              "spacing" : [19, 19],
              "backingImage" : "/interface/inventory/empty.png",
              "zlevel" : 2
            },
            "lblSellTotalCaption" : {
              "type" : "label",
              "fontSize" : 8,
              "position" : [94, 51],
              "value" : "SELL VALUE",
              "hAnchor" : "right"
            },
            "imgSellMoneyIcon" : {
              "type" : "image",
              "file" : "/interface/buildings/pixels.png",
              "position" : [98, 53],
              "zlevel" : -3
            },
            "lblSellTotal" : {
              "type" : "label",
              "fontSize" : 8,
              "position" : [112, 51],
              "value" : "0"
            },
            "btnSell" : {
              "callback" : "sell",
              "type" : "button",
              "base" : "/interface/buildings/button.png",
              "hover" : "/interface/buildings/buttonhover.png",
              "position" : [60, 30],
              "caption" : "Sell"
            }
          }
        }
      ]
    }
  }
}
