{
  "paneLayout": {
    "panes": {
      "main": {
        "image": "/interface/evolutionstation/background.png",
        "buttons": {
          "fire": {
            "position": [20, 40],
            "base": "/interface/buttons/itsb_firestone.png",
            "hover": "/interface/buttons/itsb_firestone_hover.png",
            "pressed": "/interface/buttons/itsb_firestone_pressed.png",
            "callback": "evolveToFlareon"
          },
          "thunder": {
            "position": [120, 40],
            "base": "/interface/buttons/itsb_thunderstone.png",
            "hover": "/interface/buttons/itsb_thunderstone_hover.png",
            "pressed": "/interface/buttons/itsb_thunderstone_pressed.png",
            "callback": "evolveToJolteon"
          }
        }
      }
    }
  },
  "script": "/interface/evolutionstation/evolutionstation_ui.lua"
}