{
  "commonpokemerch" : [
   [0, [
     { "item" : { "name" : "whiteapricorn" }, "rarity" : 0.167 },
     { "item" : { "name" : "redapricorn" }, "rarity" : 0.167 },
     { "item" : { "name" : "itsb_pokeball" }, "rarity" : 0.167 },
     { "item" : { "name" : "itsb_pookieball" }, "rarity" : 0.167 },
     { "item" : { "name" : "itsb_primerball" }, "rarity" : 0.167 },
     { "item" : { "name" : "pechaseed" }, "rarity" : 0.167 }
  ]]
],
  "uncommonpokemerch" : [
   [0, [
     { "item" : { "name" : "itsb_squirtlewateringcan" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_pikasword" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_pikaears" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_pikachuback" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_pikachuchest" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_pikachuhead" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_pikachupants" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_bulbasaurchest" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_bulbasaurhead" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_bulbasaurpants" }, "rarity" : 0.062 },
     { "item" : { "name" : "blueapricorn" }, "rarity" : 0.062 },
     { "item" : { "name" : "greenapricorn" }, "rarity" : 0.062 },
     { "item" : { "name" : "cheriberryshake" }, "rarity" : 0.062 },
     { "item" : { "name" : "chestoberryshake" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_greatball" }, "rarity" : 0.062 },
     { "item" : { "name" : "itsb_snowflakeball" }, "rarity" : 0.062 }
  ]]
  ],
    "rarepokemerch" : [
     [0, [
       { "item" : { "name" : "itsb_neckfloof" }, "rarity" : 0.083 },
       { "item" : { "name" : "blackapricorn" }, "rarity" : 0.083 },
       { "item" : { "name" : "yellowapricorn" }, "rarity" : 0.083 },
       { "item" : { "name" : "enigmaberryshake" }, "rarity" : 0.083 },
       { "item" : { "name" : "itsb_candycaneball" }, "rarity" : 0.083 },
       { "item" : { "name" : "itsb_cookieball" }, "rarity" : 0.083 },
       { "item" : { "name" : "itsb_snowflakeball2" }, "rarity" : 0.083 },
       { "item" : { "name" : "itsb_spoopybatball" }, "rarity" : 0.083 },
       { "item" : { "name" : "itsb_transball" }, "rarity" : 0.083 },
       { "item" : { "name" : "itsb_ultraball" }, "rarity" : 0.083 },
       { "item" : { "name" : "pikachuD" }, "rarity" : 0.083 },
       { "item" : { "name" : "snorlaxD" }, "rarity" : 0.083 }
    ]]
    ],
      "legendarypokemerch" : [
       [0, [
         { "item" : { "name" : "itsb_pokedex" }, "rarity" : 0.2 },
         { "item" : { "name" : "itsb_bulbawhip" }, "rarity" : 0.2 },
         { "item" : { "name" : "pinkapricorn" }, "rarity" : 0.2 },
         { "item" : { "name" : "itsb_oldball" }, "rarity" : 0.2 },
         { "item" : { "name" : "venusaurD" }, "rarity" : 0.2 }
      ]]
      ]
}
